body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    background-image: url("/images/main-bg.gif");
}

.nav li {
    margin-left: 10px;
    margin-right: 30px;
    font-weight: bold;
}

.navbar-default .navbar-nav > .active > a {
    background-color: #fff;
    background-image: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-bottom: 2px solid #1abc9c;
}

.big-image {
    background-image: url('/images/main-bg.jpg');
    min-height: 600px;
    height: 600px;
    margin-top: 130px;
    box-shadow: 0 5px 5px #aaa;
    width: 50%;
}

.big-image h1 {
    color: #fff;
    font-size: 38px;
    padding-top: 8px;
}

.big-image .short-text {
    color: #fff;
}

.big-image .container {
    position: relative;
    top: 490px;
}

.navbar {
    margin-bottom: 0px;
}

.content {
    line-height: 35px;
    font-size: 19px;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 25px;
    padding: 30px 25px 25px 35px;
}

.content-white-area {
    line-height: 35px;
    font-size: 19px;
    background-color: #fff;
    border-radius: 25px;
    padding: 0;
}

.content p {
    margin-bottom: 20px;
}

.bottom-image {
    position: relative;
    right: 400px;
    float: right;
    top: -610px;
    width: 0px;
    height: 0px;
}

.footer-copy {
    min-height: 70px;
    background-color: #2c3e50;
}

.footer-copy .social-icons img:hover {
    -webkit-filter: grayscale(0%);
}
.footer-copy .social-icons img {
    width: 32px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-filter: grayscale(100%);
}
.footer-copy a {
    color: lightblue;
}
.footer-copy a:hover {
    text-decoration: underline;
}
.article-full-content > img{
    width:100%;
}
.col-md-12 > p {
    width:80%;
    margin:auto 0;

}

time.icon {
    font-size: 1em; /* change icon size */
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
    overflow: hidden;
}

time.icon * {
    display: block;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

time.icon strong {
    position: absolute;
    top: 0;
    color: #fff;
    background-color: #2c3e50;
    border-bottom: 1px dashed #95a5a6;
    box-shadow: 0 2px 0 #2c3e50;
}

time.icon em {
    position: absolute;
    bottom: 0.3em;
    color: #2c3e50;
}

time.icon span {
    font-size: 28px;
    padding-top: 40px;
    color: #2f2f2f;
}

.footer-menu {
    padding-top: 50px;
}

.footer-menu a {
    color: #fff;
}

#disqus_thread {
    margin-top: 40px;
}

.article-image {
    width: 100%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.article-image .description {
    width: 640px;
    margin: 0 auto;
    text-align: left;
    font-style: italic;
    font-size: 14px;
    color: #555;
}

.article-image .description800 {
    width: 800px;
}

.article-image .description640 {
    width: 640px;
}

.article-map-wrapper {
    position: absolute;
    left: 0;
    right: 0;
}

.article-map {
    margin-top: 20px;
    height: 500px;
}

.circular_ava {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.article h1 {
    color: #666;
    font-weight: bold;
}

.article-full-content {
    padding: 20px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: none;
}

.footer-links {
    min-height: 400px;
    color: #fff;
    background: #95a5a6;
}

.white-panel {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    background: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.white-panel h1 {
    font-size: 18px;
    margin-top: 0;
}

.white-panel a,
.white-panel .full-name{
    color: #777;
}

.filled .comments-and-date a,
.filled .comments-and-date,
.white-panel .filled .category,
.white-panel .filled .full-name,
.white-panel .filled a {
    color: #eee;
}

.white-panel .full-name {
    font-size: 14px;
}

.white-panel a:hover {
    text-decoration: none;
}

.white-panel:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    margin-top: -5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.article-header-and-info-grey,
.article-header-and-info-grey h1 {
    color: #777;
}

.article-header-and-info-white {
    position: absolute;
    bottom: 0;
    padding: 40px;
}

.article h1 {
    font-size: 46px;
    
}

.comments-and-date {
    font-size: 12px;
}

.article-header-and-info-white,
.article-header-and-info-white h1 {
    color: #fff;
}

.article-header-and-info-grey .article-info {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.article-info {
    font-size: 13px;
}

.author-name {
    font-size: 15px;
    font-weight: bold;
}

p {
    margin: 0 0 30px;
}

.label-default {
    background: none;
    border: 1px solid #999;
    color: #999;
    font-weight: lighter;
}

.youtube-video {
    margin: 30px 0 30px 0;
}
.navbar-header {
    padding: 30px;
}
.navbar-nav {
    padding-top: 35px;
}
a {
    color: #444;
}
.nav>li>a:hover, .nav>li>a:focus {
    background: none;
}
.logo-link {
    text-align: center;
}
.logo-desc {
    position: relative;
    font-size: 12px;
    color: #999;
}
.logo {
    font-size: 1.7em;
}
a:hover {
    text-decoration: none;
}