body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.nav li {
    margin-left: 10px;
    margin-right: 30px;
    font-weight: bold;
}

.navbar-default .navbar-nav > .active > a {
    background-color: #fff;
    background-image: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-bottom: 2px solid #1abc9c;
}

.big-image {
    background-image: url('/images/main-bg.jpg');
    min-height: 600px;
    height: 600px;
    margin-top: 130px;
    box-shadow: 0 5px 5px #aaa;
}

.big-image h1 {
    color: #fff;
    font-size: 38px;
    padding-top: 8px;
}

.big-image .short-text {
    color: #fff;
}

.big-image .container {
    position: relative;
    top: 490px;
}

.navbar {
    margin-bottom: 0px;
}

.content {
    line-height: 35px;
    font-size: 16px;
    padding-top: 40px;
}

.content p {
    margin-bottom: 20px;
}

.footer-links {
    min-height: 400px;
    height: 300px;
    background-color: #95a5a6;
}

.bottom-image {
    position: relative;
    right: 100px;
    float: right;
    top: -210px;
}

.footer-copy {
    min-height: 70px;
    background-color: #2c3e50;
}

.footer-links {
    color: #fff;
}

time.icon {
    font-size: 1em; /* change icon size */
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
    overflow: hidden;
}

time.icon * {
    display: block;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

time.icon strong {
    position: absolute;
    top: 0;
    color: #fff;
    background-color: #2c3e50;
    border-bottom: 1px dashed #95a5a6;
    box-shadow: 0 2px 0 #2c3e50;
}

time.icon em {
    position: absolute;
    bottom: 0.3em;
    color: #2c3e50;
}

time.icon span {
    font-size: 28px;
    padding-top: 40px;
    color: #2f2f2f;
}

.footer-menu {
    padding-top: 50px;
}

.footer-menu a {
    color: #fff;
}

#disqus_thread {
    margin-top: 40px;
}

.white-panel {
    position: absolute;
    background: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.white-panel h1 {
    font-size: 18px;
}

.white-panel h1 a {
    color: #A92733;
}

.white-panel a:hover {
    text-decoration: none;
}

.white-panel:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    margin-top: -5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.article-image {
    width: 100%;
    text-align: center;
}

.article-map-wrapper {
    position: absolute;
    left: 0;
    right: 0;
}

.article-map {
    margin-top: 20px;
    height: 500px;
}

.circular_ava {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.article h1 {
    color: #666;
}

.article-full-content .under-ava-block, .comments-and-date {
    font-weight: bolder;
    color: #999;
    font-size: 12px;
}

.article-full-content .under-ava-block a, .comments-and-date a {
    color: #999;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background: none;
}