<div ng-controller="ArticlesCtrl" ng-init="init()">
    <h1>Posts</h1>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <table class="table">
                    <tr>
                        <td>Name</td>
                        <td></td>
                    </tr>
                    <tr ng-repeat="article in articles">
                        <td>
                            <a ng-click="edit(article)">{{article.title}}</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="delete(article)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                </table>

                <button type="button" class="btn btn-default" ng-click="add()">
                    <span class="glyphicon glyphicon-plus">Add new</span>
                </button>
            </div>
            <div class="col-md-9">
                <div ng-show="showEditForm()">
                    <div>
                        <div class="alert alert-info" role="alert" ng-show="message != undefined">{{message}}</div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Title</span>
                        <input type="text" class="form-control" ng-model="selectedArticle.title">
                    </div>
                    <br>

                    <div class="input-group">
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="selectedArticle.displayDate"
                                   is-open="opened" max-date="'2015-06-22'"
                                   datepicker-options="dateOptions"
                                   ng-required="true" close-text="Close"/>
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                        </p>
                    </div>
                    <br>

                    <div class="input-group">
                        <span>Display</span>
                        <input type="checkbox" ng-model="selectedArticle.display">
                    </div>
                    <br>

                    <textarea style="width:100%; height: 40px" ng-model="selectedArticle.smallText"></textarea>

                    <br>

                    <textarea style="width:100%; height: 600px" ng-model="body"></textarea>

                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">Categories</span>
                        <select class="form-control" ng-model="category">
                            <option value="null">Select category</option>
                            <option ng-repeat="cat in allCategories" value="{{cat.id}}">{{cat.name}}</option>
                        </select>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">Tags</span>
                        <input type="text" class="form-control"   >
                    </div>
                    <br>

                    <a ng-click="preview()" style="cursor: pointer;">Preview</a>

                    <div ng-show="preview != null" ng-bind-html="previewHTML"
                         style="background: #eee;border: 1px dashed #aaa;padding: 20px;">
                    </div>

                    <br>
                    <div style="margin-top: 20px;">
                        <button type="button" class="btn btn-success" ng-click="publish()">
                            <span class="glyphicon glyphicon-ok">Publish</span>
                        </button>

                        <button type="button" class="btn btn-success" ng-click="draft()">
                            <span class="glyphicon glyphicon-ok">Draft</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>