<div ng-controller="PropertyCtrl">
    <div ng-init="init()">

        <h1>Properties</h1>

        <div class="input-group">
            <span class="input-group-addon">Youtube video ID</span>
            <input type="text" class="form-control" ng-model="property.youtubeVideoId">
        </div>
        <br>

        <div style="margin-top: 20px;">
            <button type="button" class="btn btn-success" ng-click="save()">
                <span class="glyphicon glyphicon-ok">Save</span>
            </button>
        </div>

        <h1>Admin tools</h1>

        <a class="btn btn-success" href="/admin/backup.zip" target="_blank">Download backup</a>
    </div>
</div>