<div ng-controller="UsersCtrl">
    <div ng-init="init()">

        <h1>Users</h1>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <table class="table">
                        <tr>
                            <td>Name</td>
                            <td></td>
                        </tr>
                        <tr ng-repeat="item in users">
                            <td>
                                <a ng-click="edit(item)">{{item.email}}</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-xs" ng-click="delete(item)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                        </tr>
                    </table>

                    <button type="button" class="btn btn-default" ng-click="add()">
                        <span class="glyphicon glyphicon-plus">Add new</span>
                    </button>
                </div>
                <div class="col-md-9">
                    <div ng-show="showEditForm()">
                        <div class="input-group">
                            <span class="input-group-addon">User email</span>
                            <input type="text" class="form-control" ng-model="selectedUser.email">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon">Full name</span>
                            <input type="text" class="form-control" ng-model="selectedUser.fullName">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon">Password</span>
                            <input type="password" class="form-control" ng-model="selectedUser.password">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon">Avatar url</span>
                            <input type="text" class="form-control" ng-model="selectedUser.avaUrl">
                        </div>
                        <br>

                        <div style="margin-top: 20px;">
                            <button type="button" class="btn btn-success" ng-click="save()">
                                <span class="glyphicon glyphicon-ok">Save</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>