<div ng-controller="VideosCtrl">
    <div>

        <h1>Videos</h1>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <table class="table">
                        <tr>
                            <td>Name</td>
                            <td></td>
                        </tr>
                        <tr ng-repeat="item in videos">
                            <td>
                                <a ng-click="edit(item)">{{item.title}}</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-xs" ng-click="delete(item)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                        </tr>
                    </table>

                    <button type="button" class="btn btn-default" ng-click="add()">
                        <span class="glyphicon glyphicon-plus">Add new</span>
                    </button>
                </div>
                <div class="col-md-9">
                    <div ng-show="showEditForm()">
                        <div class="input-group">
                            <span class="input-group-addon">Video ID</span>
                            <input type="text" class="form-control" ng-model="selectedVideo.videoId">
                        </div>
                        <br>

                        <div class="input-group">
                            <span class="input-group-addon">Categories</span>
                            <select class="form-control" ng-model="category">
                                <option value="null">Select category</option>
                                <option ng-repeat="cat in allCategories" value="{{cat.id}}">{{cat.name}}</option>
                            </select>
                        </div>
                        <br>

                        <div class="input-group">
                            <span class="input-group-addon">Tags</span>
                            <input type="text" class="form-control" ng-model="tags">
                        </div>
                        <br>
                        
                        <div style="margin-top: 20px;">
                            <button type="button" class="btn btn-success" ng-click="save()">
                                <span class="glyphicon glyphicon-ok">Save</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>