<div class="container">
    <div class="navbar-header">
        <a class="logo-link" href="/">
            <!--<img style="width: 300px;" src="{{staticPath}}/images/logo.png"/>-->
            <div class="logo"><strong>US</strong>NEIGHBOURS</div>
            <div class="logo-desc">Блоги о жизни в США</div>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            {% for m in menus %}
            {% if m.url == selectedMenu %}
            <li class="active">
                {% else %}
            <li>
                {% endif %}

                {% if m.link %}
                <a href="{{m.url}}">{{m.name}}</a>
                {% else %}
                <a href="/s/{{m.url}}">{{m.name}}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    <!--/.nav-collapse -->
</div>