{% extends "default-with-menu.html" %}

{% block title %}
US NEIGHBOURS - {{article.title}}
{% endblock %}

{% block bigImage %}
{% if (article.hasMainImage) %}
<div style="background: url('/images/1000/{{article.mainImageId}}.jpg?gridImage=true'); 
width: 100%; height: 550px;border-radius: 25px 25px 0 0;
background-size: cover;
position: relative;">
    <div class="article-header-and-info-white">
        <h1 style="color: #fff">{{article.title}}</h1>

        <div class="article-info">
            <span class="author-name">{{article.user.fullName}}</span>
            <span class="glyphicon glyphicon-calendar" style="margin: 0 10px 0 20px;"></span>{{article.displayDate |
            date("dd.MM.yyyy") }}
            &nbsp;
            <span class="glyphicon glyphicon-eye-open" style="margin: 0 10px 0 20px;"></span>{{viewCount}}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="row article-full-content">
    <div class="col-md-12 article">

        {% if (article.hasMainImage==false) %}
        <div class="article-header-and-info-grey">
            <h1>{{article.title}}</h1>

            <div class="article-info">
                <span class="author-name">{{article.user.fullName}}</span>
                <span class="glyphicon glyphicon-calendar" style="margin: 0 10px 0 20px;"></span>{{article.displayDate |
                date("dd.MM.yyyy") }}
                &nbsp;
                <span class="glyphicon glyphicon-eye-open" style="margin: 0 10px 0 20px;"></span>{{viewCount}}
            </div>
        </div>
        {% endif %}

        {{article.bodyHTML}}

        <div>
            {% for t in article.tags %}
            <span class="label label-default">{{t}}</span>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53de47c33f3a66cf"></script>

{% endblock %}

{% block comments %}
<div class="container" style="padding-bottom: 30px;">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'namsterdamus'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
{% endblock %}

{% block description %}
{{article.smallText}}
{% endblock %}

{% block keywords %}
{{article.tags|join(', ')}}
{% endblock %}
        
{% block commonScript %}
<script>
    $(function () {
        $(".article-map").append('<div class="article-map-wrapper" style="z-index: 100; width: 100%; height: 500px;"></div>');

        $('.article-slider').jGallery({
            browserHistory: false,
            canChangeMode: false
        });

        var innerWidth = $('.article').innerWidth() - 20;
        $('.youtube-video').css({width: innerWidth + 'px', height: (innerWidth * 9 / 16) + 'px'});

        $(window).resize(function () {
            var innerWidth = $('.article').innerWidth() - 20;
            $('.youtube-video').css({width: innerWidth + 'px', height: (innerWidth * 9 / 16) + 'px'});
        });
    });
</script>
{% endblock %}