<!doctype html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/gif" href="/images/ico.gif">
    <meta charset="UTF-8">
    <title>{% block title %}Новый Амстердам{% endblock %}</title>

    <meta name="description" content="{% block description %}Новый Амстердам{% endblock %}"/>
    <meta name="news_keywords" content="{% block keywords %}Новый Амстердам{% endblock %}">

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet' type='text/css'>
    <link href="/css/style.css" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="/css/vendor/jgallery.css" rel="stylesheet" type="text/css">
    
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="/js/vendor/jgallery.min.js"></script>
</head>
<body>
<header>
    {% block header %}
    <div class="navbar" role="navigation">
        {% include 'fragments/menu.html' %}
    </div>
    {% endblock %}
</header>

<div class="main-container">
        <article class="container content-white-area">
            {% block bigImage %}
            {% endblock %}
            <div style="padding: 20px">
            {% block content %}{% endblock %}
            </div>
        </article>
</div>
<section id="comments" style="margin-top: 60px;">
    {% block comments %}{% endblock %}
</section>
<footer>
    <div class="footer-links hidden-xs hidden-sm hidden-md">
        <div class=" container">
            <div class="row-fluid" style="padding-top: 50px;">
                <div class="col-md-5">
                    <div><h3>Последнее видео на канале:</h3></div>
                    <div>
                        <iframe width="400" height="225" src="//www.youtube.com/embed/{{property.youtubeVideoId}}"
                                frameborder="0"
                                allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-3" style="padding-top: 55px;">

                    <script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>

                    <!-- VK Widget -->
                    <div id="vk_groups"></div>
                    <script type="text/javascript">
                        VK.Widgets.Group("vk_groups", {mode: 0, width: "230", height: "225", color1: '95a5a6', color2: 'ffffff', color3: '2c3e50'}, 71318533);
                    </script>

                </div>
                <div class="col-md-2">
                    <div class="footer-menu">
                        {% for m in menus %}
                        <div>
                            {% if m.link %}
                            <a href="{{m.url}}">{{m.name}}</a>
                            {% else %}
                            <a href="/s/{{m.url}}">{{m.name}}</a>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-image">
        <img src="{{staticPath}}/images/bottom.png">
    </div>
    <div class="footer-copy">
        <div class="container">
            <div class="row" style="color: #fff; padding: 20px; font-size: 12px;">
                <div class="col-md-4">
                    <div>Новый Амстердам &copy; 2014.</div>
                    <div>Все права защищены.</div>
                </div>
                <div class="col-md-4">
                    <div>Следить за нами</div>
                    <div>
                        <a href="http://vk.com/n.amsterdam" target="_blank"><img
                                src="{{staticPath}}/images/icon_vk.png"/></a>
                        <a href="http://odnoklassniki.ru/group/52234122363065" target="_blank"><img
                                src="{{staticPath}}/images/icon_ok.png"/></a>
                        <a href="https://twitter.com/NAmsterdamvlog" target="_blank"><img
                                src="{{staticPath}}/images/icon_tw.png"/></a>
                        <a href="http://instagram.com/n.amsterdam" target="_blank"><img
                                src="{{staticPath}}/images/icon_inst.png"/></a>
                        <a href="https://www.youtube.com/user/NAmsterdamvlog" target="_blank"><img
                                src="{{staticPath}}/images/icon_yt.png"/></a>
                        <a href="/feed" target="_blank"><img src="{{staticPath}}/images/icon_rss.png"/></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        Со всеми идеями и вопросами улучшения нашего проекта вы можете обращаться на <a
                            href="mailto:namsterdam.ny@gmail.com">namsterdam.ny@gmail.com</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>
{% block commonScript %}
{% endblock %}
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-54096602-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>