{% extends "default.html" %}

{% block header %}
<div class="navbar" role="navigation">
    {% include 'fragments/menu.html' %}
</div>
<script>
//    $(function () {
//        $(window).scroll(function (e) {
//            var scrollPosition = $(window).scrollTop();
//            if (scrollPosition > 200) {
//                $('.navbar').slideUp();
//            } else {
//                $('.navbar').slideDown();
//            }
//        });
//    });
</script>
{% endblock %}

{% block contentArea %}
<div class="content">
    {% block content %}{% endblock %}
</div>
{% endblock %}      