<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Новый Амстердам{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href="/css/style.css" rel='stylesheet' type='text/css'>
</head>
<body>
<header>
    {% block header %} {% endblock %}
</header>

<div class="main-container">
    <article class="container">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </article>
</div>
<section id="comments" style="background: #EEEEEE;margin-top: 150px;">
    {% block comments %}{% endblock %}
</section>
<footer>
    <div class="bottom-image">
        <img src="/images/bottom.png">
    </div>
    <div class="footer-links">
        <div class=" container">
            <div class="row" style="padding-top: 50px;">
                <div class="col-md-5">
                    <div><h3>Последнее видео на канале:</h3></div>
                    <div>
                        <iframe width="400" height="225" src="//www.youtube.com/embed/{{property.youtubeVideoId}}" frameborder="0"
                                allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-3" style="padding-top: 55px;">

                    <iframe src="http://widget.stagram.com/in/n.amsterdam/?s=60&w=3&h=3&b=1&p=5"
                            allowtransparency="true" frameborder="0" scrolling="no"
                            style="border:none;overflow:hidden;width:225px; height: 225px"></iframe>
                    <!-- websta - web.stagram.com -->

                </div>
                <div class="col-md-3">
                    <div class="footer-menu">
                        {% for m in menus %}
                        <div>
                            {% if m.link %}
                            <a href="{{m.url}}">{{m.name}}</a>
                            {% else %}
                            <a href="/s/{{m.url}}">{{m.name}}</a>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copy">
        <div class="container">
            <div class="row" style="color: #fff; padding: 20px; font-size: 12px;">
                <div class="col-md-4">
                    <div>Новый Амстердам &copy; 2014.</div>
                    <div>Все права защищены.</div>
                </div>
                <div class="col-md-4">
                    <div>Мы в социальных сетях:</div>
                    <div>
                        <a href="http://vk.com/n.amsterdam" target="_blank"><img src="/images/icon_vk.png"/></a>
                        <a href="http://odnoklassniki.ru/group/52234122363065" target="_blank"><img src="/images/icon_ok.png"/></a>
                        <a href="https://twitter.com/NAmsterdamvlog" target="_blank"><img src="/images/icon_tw.png"/></a>
                        <a href="http://instagram.com/n.amsterdam" target="_blank"><img src="/images/icon_inst.png"/></a>
                        <a href="https://www.youtube.com/user/NAmsterdamvlog" target="_blank"><img src="/images/icon_yt.png"/></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        Со всеми идеями и вопросами улучшения нашего проекта вы можете обращаться на <a
                            href="mailto:namsterdam.ny@gmail.com">namsterdam.ny@gmail.com</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>
</body>
</html>