{% extends "default.html" %}

{% block header %}
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="/"><img src="{{staticPath}}/images/logo.png"/></a>
        </div>
        <div class="navbar-collapse collapse" style="margin-top: 60px;">
            <ul class="nav navbar-nav navbar-right">
                {% for m in menus %}
                {% if m.url == selectedMenu %}
                <li class="active">
                    {% else %}
                <li>
                    {% endif %}

                    {% if m.link %}
                    <a href="{{m.url}}">{{m.name}}</a>
                    {% else %}
                    <a href="/s/{{m.url}}">{{m.name}}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<div style="background: url('{{staticPath}}/images/main-bg2.jpg'); width: 100%; height: 600px;">
    <div style="padding-top: 160px; width: 100%;text-align: center;">
        <img src="{{staticPath}}/images/logo-white.png">
        <!--div style="color: #fff;font-size: 16px; font-family: 'Marck Script', cursive;">
            Мир всегда будет находиться с Америкой в таких вот странных отношениях: <br>любить ее и ненавидеть одновременно.
        </div-->
        <div>
            <a href="http://vk.com/n.amsterdam" target="_blank"><img src="{{staticPath}}/images/vk.png"></a>
            <a href="https://www.youtube.com/user/NAmsterdamvlog" target="_blank"><img src="{{staticPath}}/images/yt.png"></a>
            <a href="https://twitter.com/NAmsterdamvlog" target="_blank"><img src="{{staticPath}}/images/tw.png"></a>
            <a href="http://instagram.com/n.amsterdam" target="_blank"><img src="{{staticPath}}/images/inst.png"></a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<section id="demo" style="position: relative">
    {% for a in articles %}
    <article class="white-panel" onclick="window.location.href = '/article/{{a.urlTitle}}'">

        <div>
            <img style="width: 275px;" src="{{a.mainImage}}">
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10">
                    <a href="/article/{{a.urlTitle}}"><h1>{{ a.title }}</h1></a>
                    <!--{{ a.smallText }}-->
                </div>
                <div class="col-md-2" style="padding: 10px 3px 0 0;">
                    <img style="width: 30px;" src="{{a.user.avaUrl}}"/>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-md-12">
                    {% for c in a.categories %}
                    <span class="label label-warning">{{c}}</span>
                    {% endfor %}
                </div>
            </div>-->
            <div class="row">
                <div class="col-md-12">
                    {% for t in a.tags %}
                    <span class="label label-primary">{{t}}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="row comments-and-date">
                <div class="col-md-7">
                    <span class="glyphicon glyphicon-comment" style="margin-right: 10px;"></span><a
                        href="/article/{{a.urlTitle}}#disqus_thread"></a>

                </div>
                <div class="col-md-5">
                    <span class="glyphicon glyphicon-calendar" style="margin-right: 10px;"></span>{{a.displayDate |
                    date_format("dd.MM.yyyy") }}
                </div>
            </div>
        </div>
    </article>
    {% endfor %}

</section>

<script src="/js/vendor/pinterest_grid.js"></script>
<script>
    $(function () {
        $('#demo').pinterest_grid({
            no_columns: 4,
            padding_x: 10,
            padding_y: 10,
            margin_bottom: 50,
            single_column_breakpoint: 700
        });
    });
</script>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'namsterdamus'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script');
        s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
{% endblock %}
